/* Color palette */ 

@use "sass:map";

$black: Black;        // tachyons: black 
$white: White;        // tachyons: white

$dark-gray: #333333;  // tachyons: dark-gray
$gray: #777777;       // tachyons: gray
$mid-gray: #555555;   // tachyons: mid-gray

$red: DarkRed;
$green: DarkGreen;
$orange: DarkOrange;

$palette-primary: $black;
$palette-secondary: $mid-gray;
$palette-background: $white;
$palette-text: $black;

$palette: (
  primary: $palette-primary,
  secondary: $palette-secondary,
  background: $palette-background,
  text: $palette-text,
);

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-gray: #{$gray};
  
  --color-primary: #{$palette-primary};
  --color-secondary: #{$palette-secondary};
  
  --color-text: #{$palette-text};
  --color-background: #{$palette-background};
}