/* Color palette */ 

$black: Black;        // tachyons: black 
$white: White;        // tachyons: white

$dark-gray: #333333;  // tachyons: dark-gray
$gray: #777777;       // tachyons: gray
$mid-gray: #555555;   // tachyons: mid-gray
$light-gray: lightgray;

$red: DarkRed;
$green: DarkGreen;
$orange: DarkOrange;

$color-primary: $black;
$color-secondary: $mid-gray;
$color-background: $white;
$color-text: $black;
$color-debug: purple;

$color-alert-success: $green;
$color-alert-error: $red;
$color-alert-warning: $orange;
$color-alert-info: inherit;
$color-alert-debug: $gray;

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-gray: #{$gray};
  
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  
  --color-text: #{$color-text};
  --color-background: #{$color-background};
}