@import 'palette';

.alert { outline: 1px solid; }
.alert:hover { outline-width: 2px; }

.alert-error    { outline-color: $palette-alert-error; color: $palette-alert-error; }
.alert-warning  { outline-color: $palette-alert-warning; }
.alert-info     { outline-color: $palette-alert-info; }
.alert-success  { outline-color: $palette-alert-success; color: $palette-alert-success; }
.alert-debug    { outline-color: $palette-alert-debug; }

