@import 'palette';
@import 'fonts';

h1, h2, h3, h4, h5, h6, b, strong { 
    color: $palette-primary;
    font-weight: bold;
}
h1, h2, h3, b {}

a { color: $palette-text; }

/* Flex related styles */
.flex-grow { flex-grow: 1; }
.flex-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cit, .cit b {
  color: $palette-secondary;
  font-style: italic;
}

/* Icon related styles */
$font-sizes: (1rem, 2rem, 4rem, 8rem, 16rem);
@each $i, $size in $font-sizes {
  .i#{$i} { width: $size; height: $size; }
}


/* Various */
.text-shadow {
  $color: $palette-text;
  $size: 1px;
  text-shadow:
      $size $size 0 $color,
     -$size -$size 0 $color,  
      $size -$size 0 $color,
     -$size $size 0 $color;
}
