{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block stylesheet %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% sass_src 'website/css/map.scss' %}" />
{% endblock %}

{% block navs %}
{{block.super}}

<nav id="map-menu"
     class="outline h2 mv1 flex flex-row justify-around items-center f6 ttu tracked tc overflow-x-auto dark-gray">
  {% for map_ in maps %}
  <a class="{% if map == map_ %}b {% endif %}link mh2"
      href="{% url 'website:map' map_.slug %}">
    {{ map_.title }}
  </a>
  {% endfor %}
</nav>
{% endblock %}

{% block contents %}
<div id="map" style="width: 100%; height: calc(100vh - 7rem - 4rem - 2rem)"></div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@latest/dist/leaflet.js" defer></script>
<script
  src="https://unpkg.com/leaflet-providers@latest/leaflet-providers.js"
  defer
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.0.2/wordcloud2.min.js"
  integrity="sha512-f1TzI0EVjfhwKkLEFZnu8AgzzzuUBE9X4YY61EoQJhjH8m+25VKdWmEfTJjmtnm0TEP8q9h+J061kCHvx3NJDA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  defer
></script>

<script src="{% static 'website/js/map.js' %}" defer></script>
<script defer>
  const center = {{ center }};
  const useSimpleCRS = {{ use_simple_crs|yesno:"true,false" }};
  const scale = 2;
  const showcase = {{ showcase|yesno:"true,false" }};

  const overlay = {
  {% if overlay %}
    url: "{{ overlay.url }}",
    width: {{overlay.width}},
    height: {{overlay.height}},
    // WORKAROUND for NdM26: remove it and add opacity option to Map model
    opacity: ({{ map.id }} == 1) ? 0.50 : 0.90,
  {% endif %}
  };
  const options = {
    map: { provider: {} },
    zoom: {
      initial: {{ zoom.initial }},
      min: {{ zoom.min }},
      max: {{ zoom.max }}
    },
  };

  {% if provider %}
  options.map.provider = {
    name: "{{ provider.name }}",
    url: "{{ provider.url }}",
  };
  {% endif %}

  document.addEventListener('DOMContentLoaded', () =>
      new LeafletMap("map", center, useSimpleCRS, scale, showcase, overlay, options).addWordClouds({{ places | safe }})
  );
</script>
{% endblock %}
