{% extends "map.html" %}

{% load sass_tags %}
{% load static %}

{% block custom_meta %}
  {% if reload and reload > 0 %}
  <meta http-equiv="refresh" content="{{ reload }}" />
  {% endif %}
{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% sass_src 'css/showcase/main.scss' %}">
{% endblock %}


{% block header %}{% endblock %}
{% block alerts %}{% endblock %}
{% block footer %}{% endblock %}


{% block main %}
<main class="w-100 flex-grow flex flex-row">
  <section id="description" 
           class="w-third tc mr1 pa2 flex flex-column justify-center items-center">
  
    <section class="measure">
      <h1 class="f1 ttu mt0">Paesaggio di Voci</h1>
      
      <p class="f3 cit">Come percepisci lo <b>spazio</b>?</p>
      <p class="f3 cit">Quali <b>parole</b> emergono da questa percezione?</p>
      <p class="f3 cit">
        In che modo le nostre <b>voci</b> contribuiscono a creare lo spazio che abitiamo?
      </p>
    </section>
 
    <section class="measure">
      <p class="f3 ttu">Partecipa anche tu all'esperimento collettivo</p>      
      <p class="title f1">{{ landscape.domain|default:domain }}</p>
    </section>     
    
    <section class="measure flex flex-rows flex-wrap justify-between">
    
      {% if landscape.logo_event %}
      <figure class="w-40 ma0 pa0">
        <figcaption class="tl mv3">In occasione di</figcaption>
        <img src="{{ landscape.logo_event.url }}" 
             alt="{{ landscape.logo_event.name }}">
      </figure>
      {% endif %}
    
      {% if landscape.logo_organizer %}
      <figure class="w-40 ma0 pa0">
        <figcaption class="tr mv3">Un progetto di</figcaption>
        <img src="{{ landscape.logo_organizer.url }}" 
             alt="{{ landscape.logo_organizer.name }}">
      </figure>
      {% endif %}
  
      {% if landscape.logo_partners.count %}
      
      <p class="w-100 mv3">Rete del gruppo di lavoro</p>
    
      {% for logo in landscape.logo_partners.all %}
      <img class="h3" src="{{ logo.url }}" alt="{{ logo.name }}">
      {% endfor %}
      
      {% endif %}
    
    </section>
    
  </section>
    
  <section id="full-map" class="w-two-thirds ml1 pa2">
    <div id="map" style="height: 100%;"></div>  
  </section>
</main>
{% endblock %}