{% extends "map.html" %}

{% load qr_code %}

{% load sass_tags %}
{% load static %}

{% block custom_meta %}
  {% if reload and reload > 0 %}
  <meta http-equiv="refresh" content="{{ reload }}" />
  {% endif %}
{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% sass_src 'css/showcase/main.scss' %}">
{% endblock %}


{% block header %}{% endblock %}
{% block alerts %}{% endblock %}
{% block footer %}{% endblock %}


{% block main %}
<main class="w-100 flex-grow flex flex-row">
  <section id="description" 
           class="w-third tc mr1 pa2 flex flex-column justify-around items-center">
    <h1 class="f1 ttu measure-wide">Paesaggio di Voci</h1>
    <p class="f3 mid-gray ttu measure-narrow">
      Come percepisci lo spazio?<br>
      Come si declina la libertà che hai nel muoverti in questo spazio?
    </p>
    
    <p class="b f3 lh-copy ttu measure-narrow">Partecipa anche tu all'esperimento collettivo</p>
    <p class="b f2 measure">{{ landscape.domain|default:domain }}</p>  
    
    {# <img class="w-100 mh1" src="{% qr_url_from_text qr_url %}" alt="{{ qr_url }}"> #}

    <section id="logos-description" class="flex justify-center flex-wrap">
      {% if landscape.logo_event %}
      <figure class="w-third tc">
        <figcaption>In occasione di</figcaption>
        <img class="b mt2 w-100" src="{{ landscape.logo_event.url }}" 
             alt="{{ landscape.logo_event.name }}">
      </figure>
      {% endif %}
    
      {% if landscape.logo_organizer %}
      <figure class="w-third tc">
        <figcaption>Un progetto di</figcaption>
        <img class="b mt2 w-100" src="{{ landscape.logo_organizer.url }}" 
             alt="{{ landscape.logo_organizer.name }}">
      </figure>
      {% endif %}
    
      {% if landscape.logo_partners.count %}
      <p class="w-100">Rete del gruppo di lavoro</p>
    
      {% for logo in landscape.logo_partners.all %}
      <figure class="w3 flex flex-center">
        <img class="b" src="{{ logo.url }}" alt="{{ logo.name }}">
      </figure>
      {% endfor %}
      {% endif %}
    
    </section>
    
  </section>
    
  <section id="full-map" class="w-two-thirds ml1 pa2">
    <div id="map" style="height: 100%;"></div>  
  </section>
</main>
{% endblock %}