/* Custom CSS */

.flex-grow { flex-grow: 1; }

.alert { outline: 1px solid; }
.alert:hover { outline-width: 2px; }

.alert-error { outline-color: DarkRed; }
.alert-warning { outline-color: Orange; }
.alert-info { }
.alert-debug { outline-color: Blue; }

.raleway { font-family: 'Raleway', sans-serif; }
.montserrat { font-family: 'Montserrat', sans-serif; }


h1, h2, h3, h4, h5, h6, b, strong { 
    color: red;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif; 
}
h1, h2, h3, b {  }

a { color: red; }
