[Unit]
Description=Gunicorn instance to run Voice Landscape local instance
After=network.target

[Service]
User=admin
Group=www-data
WorkingDirectory=/home/admin/git/voice-landscape
ExecStart=/home/admin/git/voice-landscape/.venv/bin/gunicorn \
    --config /home/admin/git/voice-landscape/system/gunicorn.conf.py

# Automatically restart if it crashes.
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
