[Unit]
Description=Gunicorn instance to run Voice Landscape local instance
After=network.target

[Service]
User=<YOUR USER>
Group=www-data
WorkingDirectory=/home/<YOUR USER>/git/voice-landscape
Environment="PATH=/usr/bin:/home/<YOUR USER>/git/voice-landscape/.venv/bin"
ExecStart="/home/<YOUR USER>/git/voice-landscape/.venv/bin/gunicorn -w 4 --bind 127.0.0.1:8001 -m 007 admin.wsgi"

[Install]
WantedBy=multi-user.target