[Unit]
Description=Gunicorn instance to run Voice Landscape local instance
After=network.target

[Service]
User=USER
Group=USER
WorkingDirectory=/home/USER/git/voice-landscape
ExecStart=/home/USER/git/voice-landscape/.venv/bin/gunicorn --workers=3 --bind 127.0.0.1:8001 admin.wsgi --access-logfile "/home/USER/git/voice-landscape/.log/gunicorn.access.log" --error-logfile "/home/USER/git/voice-landscape/.log/gunicorn.error.log" --log-level info

[Install]
WantedBy=multi-user.target