/* Custom CSS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --afor-primary: black;
    
    --afor-error: DarkRed;
    --afor-warning: Orange;
    --afor-info: inherit; 
    --afor-success: darkgreen;
    --afor-debug: gray;
}


$titillium: 'Titillium Web', sans-serif;
$open-sans: 'Open Sans', sans-serif;


h1, h2, h3, h4, h5, h6, b, strong { 
    color: var(--afor-primary);
    font-weight: bold;
    font-family: $titillium;
}
h1, h2, h3, b {  }

a { color: var(--afor-primary); }

$sizes: 1rem, 2rem, 4rem, 8rem, 16rem;

@for $index from 1 through 5 {
  $size: nth($sizes, $index);
  .i#{$index} {
    height: $size;
    width: $size;
  }
}


.flex-grow { flex-grow: 1; }
.flex-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titillium  { font-family: $titillium }
.open-sans  { font-family: $open-sans }


.alert { outline: 1px solid; }
.alert:hover { outline-width: 2px; }

.alert-error    { outline-color: var(--afor-error); color: var(--afor-error); }
.alert-warning  { outline-color: var(--afor-warning); }
.alert-info     { outline-color: var(--afor-info); }
.alert-success  { outline-color: var(--afor-success); color: var(--afor-success); }
.alert-debug    { outline-color: var(--afor-debug); }



.text-shadow {
  $color: black;
  text-shadow:
       1px 1px 0 $color,
     -1px -1px 0 $color,  
      1px -1px 0 $color,
      -1px 1px 0 $color,
       1px 1px 0 $color;
}
