/* Share page custom style rules */ 

#location-auto-icon svg{
  color: gray;
  
  &[data-state="disabled"] { color: lightgray; }
  &[data-state="processing"] { color: lightgreen }
  &[data-state="success"] { color: green }
  &[data-state="error"] { color: red }
}

$animation-colors: ("red": rgb(255, 65, 54), "gray": DimGray);

@each $name, $color in $animation-colors {
  @keyframes color-animation--#{$name} {
    from {
      color: white;
    }
    to {
      color: $color;
    }
  }

  .animated--#{$name} {
    background-color: $color;
    animation-name: color-animation--#{$name};
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
  }
}
