{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="it" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
  
  {% block custom_meta %}{% endblock %}
  
  <title>{{ title | default:'AFOr | Paesaggio di Voci' }}</title>

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <link rel="stylesheet" href="{% sass_src 'css/website/main.scss' %}">

  <link rel="icon" type="image/x-icon" href="{% static 'website/favicon.ico' %}">
</head>
<body class="flex flex-column min-vh-100 open-sans pa2">
  
  {% block header %}
    <header class="w-100 outline mb1">{% include "_header.html" %}</header>
  {% endblock %}
  
  {% block alerts %}
    <header id="alert-box" class="w-100">{% include "_alerts.html" %}</header>
  {% endblock %}

  {% block main %}
    <main class="w-100 outline mv1 flex-grow flex flex-center">
      {% block contents %}{% endblock %}
    </main>  
  {% endblock %}

  {% block footer %}
    <footer class="w-100 outline mt1">{% include "_footer.html" %}</footer>
  {% endblock %}

  {% include "_scripts.html" %}
  {% block scripts %}{% endblock %}

</body>
</html>