{% load static %}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous" defer></script>

<script src="{% static 'js/alerts.js' %}" defer></script>
<script defer>
  {% if messages %}
  document.addEventListener('DOMContentLoaded', () => {
      {% for message in messages %}
      showAlert("{{ message }}", AlertLevel.{{ message.tags|default:'info'|upper }});
      {% endfor %}
  });
  {% endif %}
</script>