{% extends "base.html" %}

{% load static %}
{% load sass_tags %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% sass_src 'css/website/map.scss' %}">
{% endblock %}


{% block contents %}
  <div id="map" style="width: 100%; height: calc(100vh - 4rem - 2.5rem)"></div>
{% endblock %}

{% block scripts %}  
  <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js" defer></script>
  <script src="https://unpkg.com/leaflet-providers@2.0.0/leaflet-providers.js" defer></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.0.2/wordcloud2.min.js" 
          integrity="sha512-f1TzI0EVjfhwKkLEFZnu8AgzzzuUBE9X4YY61EoQJhjH8m+25VKdWmEfTJjmtnm0TEP8q9h+J061kCHvx3NJDA==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  
  <script src="{% static 'js/website/map.js' %}" defer></script>
  <script defer>
    const options = {
      zoom: { 
        initial: {{ zoom.initial }}, 
        min: {{ zoom.min }}, 
        max: {{ zoom.max }} 
      },
      map: { 
        provider: { 
          name: "{{provider.name}}", 
          url: "{{ provider.url }}" 
        }
      }
    }
    document.addEventListener('DOMContentLoaded', () => 
        new LeafletMap("map", {{ center }}, options).addWordClouds({{ places | safe }})
    );
  </script>
{% endblock %}