{% extends "_base.html" %}

{% block contents %}
  <article class="f4 tj tc-ns measure-wide center pa1">  
    <p class="f5 mb0">
      Per l’edizione 2021 del <a href="https://www.festivalfilosofia.it/">FestivalFilosofia</a>
    </p>
    <p class="f4 mt1">
      il gruppo di lavoro di <a href="https://afor.dev">AFOr</a> presenta:
    </p>
  
    <h1 class="f1">Paesaggio di Voci</h1>
  
    <p class="f3">
      Come percepisci lo <b>spazio</b>? Come si declina la <b>libertà</b> che hai nel 
      muoverti in questo spazio?
    </p>
    <p class="f4">
      Nella volontà di dare una declinazione spaziale al tema libertà, il gruppo di AFOr 
      fa una scommessa al pubblico del Festival: partecipare ad un <b>esperimento 
      collettivo</b> di raccolta di testimonianze sul percepito degli spazi in cui avranno 
      luogo le attività del Festival.
    </p>

    <hr>
  
    <h2>Di cosa si tratta?</h2>
    <p class="f4">
      Attraverso una semplice <a href="/share">pagina web</a> il pubblico del Festival 
      può partecipare all’esperimento, condividendo - sotto forma di tracce digitali 
      testuali e audio - le considerazioni sullo spazio che attraversano.
    </p>
    <p class="f4">
      Le voci raccolte vengono elaborate e visualizzate all’interno di una 
      <a href="/map">mappa</a> interattiva. La <a href="/map">mappa</a> consente di 
      avere una immediata percezione dei luoghi e di come vengono percepiti.
    </p>

    <hr>
    
    <h2>Come partecipare?</h2>
    <ul class="list pl0 ba b--silver">
      <li class="pa1 ba b--silver">Entra nella sezione <a href="/share">PARTECIPA</a></li>
      <li class="pa1 ba b--silver">Scrivi o registra un messaggio</li>
      <li class="pa1 ba b--silver">Rileva la tua posizione GPS (dovrai consentire l'accesso)</li>
      <li class="pa1 ba b--silver">Invia la tua <b>voce</b></li>
      <li class="pa1 ba b--silver">
        Entra nella <a href="/map">MAPPA</a> per vedere come cambia il paesaggio
      </li>
    </ul>

    <hr>
    
    <h2>Voglio saperne di più!!!</h2>
    <p class="f4">
      L’installazione è ospitata all’interno dello spazio dedicato all’Open Source di 
      Make It Modena, dove è data la possibilità di vedere in diretta il cambiamento dei 
      dati e la relazione dei posti visitati dal pubblico stesso in tempo reale.
    </p>
    <p class="f4">
      Durante le giornate del festival sono previsti due appuntamenti divulgativi di 
      spiegazione dell’installazione e di approfondimento sul progetto AFOr
      (<a href="https://www.comune.modena.it/makeitmodena/news/festival-filosofia-liberta">Link</a>
      alla pagina dell'evento sul sito di MakeItModena).
    </p>
  </article>
{% endblock %}