{% extends "_base.html" %}

{% block contents %}
  <div id="map" style="height: 85vh"></div>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
  
  <script>
    const provider = "{{ map_config.provider_url }}";
    const tileLayerOptions = { 
      attribution: `{{ map_config.provider_attribution | safe }}`, 
      minZoom: 15, maxZoom: 19
    };
  
    const map = L.map('map').setView({{ map_config.center }}, 16);
    const tile = L.tileLayer(provider, tileLayerOptions).addTo(map);

    {% for (place, svg) in markers %}
      L.marker(
          {{ place }}, 
          { icon: L.divIcon({ html: `{{ svg | safe }}`, className: "word-cloud" })}
      ).addTo(map);
      {#L.marker({{ place }}).addTo(map)#}
    {% endfor %}
  </script>
{% endblock %}