{% extends "base.html" %}

{% block contents %}
  <article class="measure center tj">
    <h1>Privacy Policy</h1>
    <p>
      Questo sito non raccoglie ne memorizza intenzionalmente nessun tipo di dato 
      personale e/o sensibile.   
    </p>
    
    <p>
      I visitatori del sito possono, nella sezione "partecipa" inserire un messaggio e 
      la propria posizione. Il messaggio e localizzazione vengono salvati così come 
      inviati insieme alla data e all'ora del contributo. Queste informazioni vengono 
      conservate solo per scopi tecnici durante la durata dell'evento ed eventualmente 
      cancellati alla fine dello stesso. 
      
      In nessun caso, nessuna informazioni personale eventualmente condivisa verrà resa 
      pubblica volontariamente. Gli unici dati resi pubblici saranno i dati aggregati 
      (frequenze e parole più usate) e/o i dati sull'utilizzo del sito.
      
      L'utente non viene tracciato in alcun modo, ogni contributo è salvato a se stante.
      Non teniamo traccia ne dell'indirizzo IP, ne del dispositivo, ne in alcun modo 
      della persona che invia contributi al sito.
    </p>
     
    <p>
      Nel caso di messaggi vocali, l'audio verrà inviato al server solamente per essere 
      trascritto. Il file audio e la trascrizione non vengono salvati.
    </p>
    
    <p>
      Questo sito non fa uso di cookie di terze parti di alcun genere, ne di software 
      di “analytics”.
      Questo sito non profila l'utente in alcun modo.
      
      Gli unici cookie utilizzati sono di natura tecnica e interni al sito. Questi 
      vengono creati questioni di criptazione e sicurezza come il CSRF 
      (<a href="https://it.wikipedia.org/wiki/Cross-site_request_forgery">wikipedia</a>)
      o per tenere traccia delle preferenze del dispositivo dell'utente come il tema grafico
      o l'ultima mappa aperta (in questo momento ne viene generato uno solo in caso di 
      diverse configurazioni della mappa).
    </p>
  </article>
  
{% endblock %}