{% extends "_base.html" %}

{% block custom_meta %}
  <meta http-equiv="refresh" content="{{ reload }}" />
{% endblock %}


{% block header %}{% endblock %}
{% block alert %}{% endblock %}
{% block footer %}{% endblock %}


{% block main %}
  <main id="showcase" class="flex flex-row">
    <section id="full-map" class="outline w-80 mr1 pa1">
      <div id="map" style="height: calc(100vh - .5rem - 1rem);"></div>  
    </section>
    
    <section id="statistics" class="outline w-20 ml1 pa2">
      <h2 class="black">Top 10 words</h2>
      <table class="tc w-100">
      {% for word, freq in stats.top_words %}
        <tr class="striped--light-gray">
          <td class="pa2">{{ word | title }}</td>
          <td>{{ freq }}</td>
        </tr>
      {% endfor %}
      </table>
    </section>
  </main>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="" defer></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.0.2/wordcloud2.min.js" 
          integrity="sha512-f1TzI0EVjfhwKkLEFZnu8AgzzzuUBE9X4YY61EoQJhjH8m+25VKdWmEfTJjmtnm0TEP8q9h+J061kCHvx3NJDA==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

  <script src="/js/map.js" defer></script>
  <script defer>
    document.addEventListener(
        'DOMContentLoaded', 
        () => initMap({{ places | safe }}, 17)
    );
  </script>
{% endblock %}