{% extends "_base.html" %}

{% block contents %}
  <article class="measure center tj">
    <h1>Privacy Policy</h1>
    <p>
      Questo sito non raccoglie ne memorizza nessun tipo di dato personale e/o sensibile.  
    </p>
    
    <p>
      Nella sezione "partecipa" è possibile per chiunque inserire un messaggio. 
      Il messaggio viene salvato così com'è indicando la posizione rilevata insieme a 
      data e ora del contributo.
      
      Dal messaggio vengono estrapolate le singole parole con lo scopo di 
      memorizzare la frequenza di utilizzo delle singole parole.
      
      L'utente non viene tracciato in alcun modo, ogni contributo è salvato a se stante.
    </p>
     
    <p>
      Nel caso di messaggi vocali, l'audio verrà inviato al server solamente con lo scopo 
      di essere trascritto e poi reinviato al dispositivo dell'utente in modo che possa
      decidere se inviare il messaggio trascritto o no. 
      Il file audio e la trascrizione non vengono salvati.
    </p>
    
    <p>
      Questo sito non fa uso di cookie di alcun genere. Attualmente nessun cookie tecnico, 
      ne di terze parti viene utilizzato o generato. Attualmente non vengono utilizzati 
      software di “analytics”.  
    </p>
  </article>
  
{% endblock %}