{% extends "map.html" %}

{% load static %}

{% block custom_meta %}
  <meta http-equiv="refresh" content="{{ reload }}" />
{% endblock %}


{% block header %}{% endblock %}
{% block alert %}{% endblock %}
{% block footer %}{% endblock %}


{% block main %}
  <main id="showcase" class="flex flex-row">
    <section id="full-map" class="outline w-80 mr1 pa1">
      <div id="map" style="height: calc(100vh - .5rem - 1rem);"></div>  
    </section>
    
    <section id="statistics" class="outline w-20 ml1 pa2">
      <h2 class="black">Top 10 words</h2>
      <table class="tc w-100">
      {% for word, freq in stats %}
        <tr class="striped--light-gray">
          <td class="pa2">{{ word | title }}</td>
          <td>{{ freq }}</td>
        </tr>
      {% endfor %}
      </table>
    </section>
  </main>
{% endblock %}