<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous" defer></script>

<script defer>
  function showAlert(message, kind="info") {
    $("#alert-box").append(
        `<div class="alert alert-${kind} mv1 pa1 flex flex-row">
          <div class="w2"></div>
          <div class="w-100 tc">${message}</div>
          <a class="alert-close-button w2 tc _ml-auto pointer dark-gray" 
             aria-label="Close ${kind} alert box" onclick="closeAlert(this)">×</a>
        </div>
    `);
  }
  
  function showErrorAlert(message) { showAlert(message, "error") }
  function showWarningAlert(message) { showAlert(message, "warning") }
  function showInfoAlert(message) { showAlert(message, "info") }
  function showDebugAlert(message) { showAlert(message, "debug") }
  
  function closeAlert(element) { element.parentNode.remove() }
</script>