{% extends "_base.html" %}

{% block contents %}
  <article class="f4 tj tc-ns measure-wide center pa1">  
    <h1 class="f1">Paesaggi di Voci</h1>
  
    <p class="f3">
      Come percepisci lo <b>spazio</b>? <br>In che modo la tua <b>voce</b> influenza lo spazio in cui ti muovi?
    </p>
    
    <h2>Di cosa si tratta?</h2>
    <p class="f4">
      <b>Paesaggi di Voci</b> è un esperimento collettivo di raccolta e analisi su come 
      le nostre parole si definiscono nello spazio e possano aiutarci a descriverlo.
    </p>
    <p class="f4">
      Attraverso questa semplice <a href="/share">applicazione web</a> chiunque
      può partecipare all’esperimento, condividendo - sotto forma di tracce digitali 
      testuali e audio - le considerazioni sullo spazio che attraversano.
    </p>
    <p class="f4">
      Le voci raccolte vengono elaborate e visualizzate all’interno di una 
      <a href="/map">mappa</a> interattiva. La <a href="/map">mappa</a> consente di 
      avere una immediata percezione dei luoghi e di come vengono percepiti.
    </p>
    
    <h2>Come partecipare?</h2>
    <ul class="list pl0 ba b--silver">
      <li class="pa1 ba b--silver">Entra nella sezione <a href="/share">PARTECIPA</a></li>
      <li class="pa1 ba b--silver">Scrivi o registra un messaggio</li>
      <li class="pa1 ba b--silver">Rileva la tua posizione GPS (dovrai consentire l'accesso)</li>
      <li class="pa1 ba b--silver">Invia la tua <b>voce</b></li>
      <li class="pa1 ba b--silver">
        Entra nella <a href="/map">MAPPA</a> per vedere come cambia il paesaggio
      </li>
    </ul>

    <hr>
    
    <h2>Voglio saperne di più!!!</h2>
    <p class="f4">
      La prima installazione di <b>Paesaggio di Voci</b>, è stata proposta come nostro 
      contributo al <b>Festival Filosofia 2019</b>.
    </p>
    <p>      
      Oggi (17/12/2022) lo riproponiamo 
      all'interno della giornata evento 
      <a href="https://afor.dev/events/riuso-creativo-2022/">
        Riuso Creativo degli Archivi di Fonti Orali
      </a>
      in occasione della geo-esplorazione dei luoghi del villaggio artigiano di modena ovest.
    </p>
  </article>
{% endblock %}