{% extends "_base.html" %}

{% block contents %}
  <article class="measure center tj">
    <h1>Privacy Policy</h1>
    <p>
      Questo sito non raccoglie ne memorizza nessun tipo di dato personale e/o sensibile.  
    </p>
    
    <p>
      Nella sezione "partecipa" è possibile per chiunque inserire un messaggio. 
      Dal messaggio vengono estrapolate le singole parole con l'unico fine di 
      memorizzare la frequenza di utilizzo delle singole parole rispetto a tutti gli 
      utenti dell'applicazione. In nessun modo l'applicazione è in grado di ricostruire 
      il messaggio originale o di poterlo associare a una persona fisica.  
    </p>
     
    <p>
      Nel caso di messaggi vocali, l'audio verrà inviato al server solamente con lo scopo 
      di essere trascritto e poi reinviato al dispositivo dell'utente in modo che possa
      decidere se inviare il messaggio trascritto o no.
    </p>
    
    <p>
      Questo sito non fa uso di cookie di alcun genere. Attualmente nessun cookie tecnico, 
      ne di terze parti viene utilizzato o generato. Attualmente non vengono utilizzati 
      software di “analytics”.  
    </p>
  </article>
  
{%  endblock %}