{% extends "_base.html" %}

{% load static %}

{% block main %}
  <main class="w-100 mw9 outline mb0 ma1 pa1 center flex-grow flex flex-column justify-center">
    <form action="" method="post" class="flex flex-column mw7 center">
      {% csrf_token %}
    
      <div class="flex flex-row flex-wrap justify-around items-center mh2 mv4">
        <div class="flex flex-row flex-wrap w-80">
          <label for="{{ form.message.id_for_label }}" class="w-100 mb1">{{ form.message.label }}</label>
          <textarea id="{{ form.message.id_for_label }}" name="{{ form.message.html_name }}"
                    rows="5" cols="10" placeholder="{{ form.message.help_text }}"
                    class="w-100" maxlength="500" required>{{ form.message.value | default:'' }}</textarea>
        </div>
        
{# TODO <a type="button" id="record-button" class="link center w3 h3 f2 black ba bw1 b--black br4 bg-white w-10">🎙</a>#}
        <button type="button" id="record-button" class="link w2 h3 f3 black bg-white w-10">🎙</button>
        <button type="button" id="stop-button" class="dn w2 h3 f3 black w-10">⏹</button>
      </div>
      {% for field in share_form %}
        {{ field }}
      {% endfor %}
      
      
      <fieldset class="flex flex-wrap mv4">
        <legend>Coordinate GPS</legend>
        <div class="pa1 w-50-ns">
          <label id="location-x" for="loc-x">Latitudine </label>
          <input id="loc-x" class="w-100" type=number name=loc-x step="any" required readonly>
        </div>
        <div class="pa1 w-50-ns">
          <label id="location-y" for="loc-y">Longitudine </label>
          <input id="loc-y" class="w-100" type=number name=loc-y step="any" required readonly>
        </div>
        
        <div class="w-100 pa1 tc">
          <button id="location-button" type="button" onclick="readCurrentPosition()">
            Inserisci posizione
          </button>  
        </div>
      </fieldset>
      
      <div class="center pa2">
        <input id="button-submit" type="submit" value="Partecipa!" disabled>
      </div>
    </form>
  </main>
{% endblock %}


{% block scripts %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
  
  <script defer>
    function readCurrentPosition() {
      if (!navigator.geolocation) { 
        showErrorAlert("Geolocation is not supported by this browser."); 
        return;
      }
      
      navigator.geolocation.getCurrentPosition(
          position => {
            $("input#loc-x").val(position.coords.latitude);
            $("input#loc-y").val(position.coords.longitude);
            $("input#button-submit").removeAttr("disabled");
          }, 
          error => showErrorAlert(error.message)
      );
    }
  </script>
  
  <!-- recommended -->
  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js" defer></script>
  <script src="{% static 'website/js/record.js' %}" defer></script>
  
{% endblock %}