{% extends "website/map.html" %}

{% load static %}
{% load sass_tags %}

{% block custom_meta %}
  {% if reload and reload > 0 %}
  <meta http-equiv="refresh" content="{{ reload }}" />
  {% endif %}
{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'showcase/css/scaling.scss' %}">
{% endblock %}


{% block header %}{% endblock %}
{% block alerts %}{% endblock %}
{% block footer %}{% endblock %}


{% block main %}
<main class="w-100 flex-grow flex flex-row pa6">

  <section id="full-map" class="w-two-thirds ml1 pa2 flex flex-column justify-center items-center">
    <h2 class="f1 tc w-100 ttu tracked">{{ map.title }}</h2>
    <div class="_outline map-wrapper w-100 aspect-ratio aspect-ratio--8x5">
      <div id="map" class="aspect-ratio--object cover _w-100" style="_height: 50%;"></div>
    </div>
  </section>

  <section id="description"
           class="w-third tc mr1 pa2 flex flex-column justify-center items-center">

    <section class="measure">
      <h1 class="f2 ttu tracked mt0">Paesaggio di Voci</h1>

      <p class="f3 cit">Come percepisci lo <b>spazio</b>?</p>
      <p class="f3 cit">Quali <b>parole</b> emergono da questa percezione?</p>
      <p class="f3 cit">
        In che modo le nostre <b>voci</b> contribuiscono a creare lo spazio che abitiamo?
      </p>
    </section>

    <section class="measure">
      <p class="title f2">{{ landscape.domain|default:domain }}</p>
      <!-- WORKAROUND: QR-Code should be constructed by backend based on DOMAIN value -->
      <img class="w-50" src="{% static 'showcase/images/qr-code.png' %}" alt="qr-code">
      <p class="f4 ttu ma1">Partecipa anche tu <br/>all'esperimento collettivo</p>
    </section>

    <section class="measure flex flex-rows flex-wrap justify-between">

      {% if landscape.logo_event %}
      <figure class="w-40 ma0 pa0">
        <figcaption class="tl mv3">In occasione di</figcaption>
        <img src="{{ landscape.logo_event.url }}"
             alt="{{ landscape.logo_event.name }}">
      </figure>
      {% endif %}

      {% if landscape.logo_organizer %}
      <figure class="w-40 ma0 pa0">
        <figcaption class="tr mv3">Un progetto di</figcaption>
        <img src="{{ landscape.logo_organizer.url }}"
             alt="{{ landscape.logo_organizer.name }}">
      </figure>
      {% endif %}

      {% if landscape.logo_partners.count %}

      <p class="w-100 mt5">Rete del gruppo di lavoro</p>

      <section class="flex flex-row flex-wrap justify-around">
        {% for logo in landscape.logo_partners.all %}
        <img class="h3 ma3" src="{{ logo.url }}" alt="{{ logo.name }}">
        {% endfor %}
      </section>

      {% endif %}

    </section>

  </section>

</main>
{% endblock %}
