/* Leaflet map related styles */

@import "../../../../../static/css/palette";

.canvas span {
  /* Better solution only available in firefox 
      -webkit-text-stroke: 2px white;    
      paint-order: stroke fill; */
  $size: 1px;
  $blur: 0;
  
  $color: $color-background;
  text-shadow:  
    $size  $size $blur $color,
   -$size  $size $blur $color,
   -$size -$size $blur $color,
    $size -$size $blur $color,
    $size  $size $blur $color;
  
  
  &:hover { 
    $color: var(--color-gray, Gray);
    text-shadow:
      $size  $size $blur $color,
     -$size  $size $blur $color,
     -$size -$size $blur $color,
      $size -$size $blur $color,
      $size  $size $blur $color;
  }    
}
