<nav id="main-menu" class="outline h2 pa1 mb2 flex flex-row justify-between items-center overflow-x-auto f4 ttu tracked nowrap">
    <img class="db-l dn h1 mr1" src="/static/favicon.ico" alt="Logo">
    <div class="w-100 tc b truncate">{{ landscape.title }}</div>
    <img class="db-l dn h1 mr1" src="/static/favicon.ico" alt="Logo">
</nav>

<nav id="navigation-menu" class="outline h2 mb2 pa1 flex flex-row justify-around f6 fw6 ttu tracked overflow-x-auto">
  <a href="{% url 'website:map' %}" class="link dib mr3 pa1">Mappa</a>
  <a href="{% url 'website:share' %}" class="link dib pa1">Partecipa</a>
  <a href="{% url 'info' %}" class="link dib ml3 pa1">Info</a>

  {% if landscapes and landscapes|length > 1 %}
  <label for="landscape-select"></label>
  <select
    id="landscape-select"
    name="landscape-select"
    onchange="
      document.cookie = `landscape=${this.value}; Path=/; Samesite=Lax`;
      location.reload();
    "
  >
    {% for slug, title in landscapes %}
    <option value="{{ slug }}" {% if slug == landscape.slug %}selected{% endif %}>
      {{ title }}
    </option>
    {% endfor %}
  </select>
  {% endif %}
</nav>
