main {
  /* Full HD 1920x1080 */ 
  @media screen and (min-width: 1500px) {
    h1, h2, p, figcaption { transform: scale(1.0); }
  } 
  
  /* 2K 2560x1440 */
  @media screen and (min-width: 2000px) {
    h1, h2, p, figcaption { transform: scale(1.28); }
  } 
  
  /* 4K 3840x2160 */
  @media screen and (min-width: 3000px) {
    h1, h2, p, figcaption { transform: scale(2); }
  }
}